Role_Properties
Role_Behavior
Role_Inheritance
Naturals
Roles
Compartments
Role_Dependent_Player_Features
Different_Roles_Simultaneously
Same_Role_Type_Several_Times
By_Unrelated_Players
Dynamically
Transferable_between_Players
Role_Dependent_Player_State
Restrict_Access
On_Compartments
On_Relationships
Role_Implication
Role_Prohibition
Role_Equivalence
Group_Constraints
Owned_Role_Identity
Relationships
Relationship_Cardinality
Intra_Relationship_Constraints
Inter_Relationship_Constraints
Compartment_Types
Compartment_Properties
Compartment_Behavior
Compartment_Inheritance
Contains_Roles
Contains_Compartments
Can_Belong_to_Many_Compartments
Playable_by_Defining_Compartment
Own_Compartment_Identity
